---
import Article from '../../layouts/Article.astro';
import { getAllArticles } from '../../utils/articles.js';

// Generate static paths for all articles
export async function getStaticPaths() {
  const allArticles = await getAllArticles();
  
  return allArticles.map(article => ({
    params: { slug: article.id },
    props: { article }
  }));
}

// Get the article from props
const { article } = Astro.props;

// Extract content from JSON
const { title, description, date, author, section, tags, image, content } = article;
---

<Article
  title={title}
  description={description}
  date={date}
  author={author}
  section={section}
  tags={tags}
  image={image}
>
  <div class="prose prose-lg max-w-none">
    {content.map((block, index) => {
      switch (block.type) {
        case 'paragraph':
          return (
            <p class={block.class || ''} set:html={block.text}>
            </p>
          );
        
        case 'heading':
          const HeadingTag = `h${block.level}`;
          return (
            <HeadingTag>
              {block.text}
            </HeadingTag>
          );
        
        case 'list':
          return (
            <ul>
              {block.items.map((item) => (
                <li set:html={item}></li>
              ))}
            </ul>
          );
        
        default:
          return null;
      }
    })}
  </div>
</Article>

